@model List<Competitor>
@{
    ViewData["Title"] = "Competitor ManageMent";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-dark bg-gradiant ms-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white pt-1">Competitor List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="container">
            <div class="row pb-3">
                <div class="col-6"></div>
                <div class="col-6 text-end">
                    <a asp-action="Create" asp-controller="Competitor" class="btn btn-dark">
                        <i class="bi bi-plus-circle"></i>&nbsp; Create New Competitor
                    </a>
                </div>
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>DOB</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.FName</td>
                            <td>@obj.Surname</td>
                            <td>@obj.DOB</td>
                            <td>@obj.Country</td>
                            <td class="col-4">
                                <div class="w-100 btn-group" role="group">
                                    <div class="col-4">
                                        <a asp-controller="Competitor" asp-action="View" asp-route-id="@obj.Id"
                                           class="btn btn-primary w-100">
                                            <i class="bi bi-info-circle"></i> Details
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a asp-controller="Competitor" asp-action="Edit" asp-route-id="@obj.Id"
                                           class="btn btn-success w-100">
                                            <i class="bi bi-pencil-square"></i> Edit
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a asp-controller="Competitor" asp-action="Delete" asp-route-id="@obj.Id"
                                           class="btn btn-danger w-100">
                                            <i class="bi bi-trash"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>